MAX_BOT = 100
DEVS = 8150856435
API_ID = 31495965
API_HASH = fbb76d2fc08ee0bd33f86dde82fc1f3a
BOT_TOKEN = 8303142623:AAGoDrcdeZs9W7Gc4tPImMTv4VaHrrsaAM4
OWNER_ID = 8150856435
BLACKLIST_CHAT = -1003730428070
RMBG_API = Y8mKMpDEsaZsvRikj4xk8xRR
MONGO_URL = mongodb+srv://nexxacrossz_db_user:nexxamurder09@cluster0.xo8sh2k.mongodb.net/?appName=Cluster0
LOGS_MAKER_UBOT = -1004403786030
API_KEY = _@moire_mor
