MAX_BOT = 999
DEVS = 7233292382
API_ID = 35520614
API_HASH = b4e43dbc0ac98e72833a2c03362b1f09
BOT_TOKEN = 8371940464:AAFxblmaYRQdNl4vFBmlGEGvIyTdkpWefV8
OWNER_ID = 1781230649
BLACKLIST_CHAT = -1003659966140
RMBG_API = Y8mKMpDEsaZsvRikj4xk8xRR
MONGO_URL = mongodb+srv://aryanemo:nemoarya@cluster0.0p7scz7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGS_MAKER_UBOT = -1003659966140
API_KEY = _@moire_mor
